<!doctype html>
    <html>
    <head>
        <title>Connectez vous</title>
    </head>
    <body>
        <div>
            <form id="login">
                <h1>Email</h1>
                <input type="email" name="email" id="email">
                <h2>Mot de passe</h2>
                <input type="password" name="mot_de_passe" id="mot_de_passe">

                <input type="submit" onclick="login()" value="Connexion">
            </form>

            <button onclick="changeView('signup.html')">Pas de compte ? créez en un dès maintenant!</button>

            <p id="msg"></p>
        </div>
    </body>
</html>
