<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <form id="signup" method="post">
        <h2>Pseudo</h2>
        <input type="text" name="pseudo" id="pseudo">
        <h2>Email</h2>
        <input type="email" name="email" id="email">
        <h2>Confirmez votre email</h2>
        <input type="email" name="email2">
        <h2>Mot de passe</h2>
        <input type="password" name="mot_de_passe" id="mot_de_passe">
        <h2>Confirmez le mot de passe</h2>
        <input type="password" name="mot_de_passe2">

        <input type="submit" onclick="signup()" name="Inscription"/>
        <p id="msg"></p>
    </form>
</body>
</html>